<form action="http://localhost:8080/session/login" method="post">
<input name=" email" type="text" value="charly@gmail.com" />
<input name=" password" type="password" value="123" />
<button value="submit"> </button>
</form>